########## Intellij #########

*.iml
.idea/
out/

########## Eclipse ##########

.classpath
.settings/
.project
classes/
libs/
bin/
project.properties

######### NetBeans ##########

nb-configuration.xml

########### Maven ###########

target/
tmp/
emma.out
noemma.out
proguard-project.txt
########### Android ###########

gen/
lint.xml
